.footer-contacts {
  width: 34%;

  &__menu-btn {
    display: none;
  }

  &__list {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: rgba(27, 45, 55, 0.5);
    list-style: none;
  }

  @media (max-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: $mobile-width) {
    width: 91%;
    margin: 0 auto;

    &__list {
      padding-bottom: 27px;

      &--menu-close {
        display: none;
      }
    }
  }
}
