.header-contacts {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 50px;
  list-style: none;

  &__item {
    margin-right: 82px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }

  &__link:hover &__link-text {
    text-decoration: underline;
  }

  &__link:focus &__link-text {
    text-decoration: underline;
  }

  &__link:active &__link-text {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
  }

  &__icon {
    position: absolute;

    &--email {
      top: 1px;
      left: 0px;
      width: 19px;
      height: 15px;
    }

    &--phone {
      top: 1px;
      left: 6px;
      width: 18px;
      height: 18px;
    }
  }

  @media (max-width: $low-desktop-width) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    justify-content: space-between;
    width: 84px;

    &__item {
      margin-right: 0;
    }

    &__link {
      width: 25px;
      height: 25px;
      padding-left: 0;

      &--email {
        width: 25px;
        height: 25px;
      }

      &--phone {
        width: 26px;
        height: 26px;
      }
    }

    &__icon {
      position: static;
      display: block;

      &--email {
        width: 25px;
        height: 19px;
      }

      &--phone {
        width: 24px;
        height: 24px;
      }
    }

    &__link-text {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: 73px;
  }
}
