.logo {
  display: flex;
  width: 201px;

  &__img {
    width: 52px;
    height: 52px;
    margin-right: 16px;
    margin-left: 4px;
  }

  &__wrapper {
    padding-top: 6px;
    box-sizing: border-box;
  }

  &__name {
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__sign {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #788891;
  }

  &:hover &__sign {
    text-decoration: underline;
  }

  @media (max-width: $tablet-width) {

    &__img {
      margin-left: 2px;
    }
  }

  @media (max-width: $mobile-width) {

    &__img {
      width: 38px;
      height: 38px;
    }
  }
}
