.logo {
  display: flex;
  width: 201px;
  margin-right: 50px;

  & img {
    width: 52px;
    height: 52px;
    margin-right: 16px;
  }

  &__wrapper {

    & h1 {
      padding: 0;
      margin: 0;
      font-family: "Roboto Condensed";
      font-size: 25px;
      font-weight: bold;
      white-space: nowrap;
    }

    & h2 {
      padding: 0;
      margin: 0;
      font-family: "Roboto";
      font-size: 12px;
      font-weight: medium;
      color: #788891;
    }
  }

  @media (max-width: $mobile-width) {
    width: 38px;

    & img {
      width: 38px;
      height: 38px;
    }

    &__wrapper {
      & h1 {
        display: none;
      }

      & h2 {
        display: none;
      }
    }
  }
}
