.page-header {
  padding-top: 33px;
  padding-bottom: 263px;
  color: #ffffff;
  background-image: url("../img/bg-header-desktop@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1b2931;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__callback {
    width: 180px;
    padding: 13px 0 12px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
  }

  &__scroll {
    display: block;
    width: 93px;
    font-family: "PT Mono";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    transform: translate(-35px, 130px) rotate(-90deg);
  }

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 163px;
    background-image: url("../img/bg-header-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
    }

    &__callback {
      display: none;
    }

    &__scroll {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
    padding-bottom: 70px;
    background-image: url("../img/bg-header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }

    &__logo .logo__name {
      display: none;
    }

    &__logo .logo__sign {
      display: none;
    }

    &__logo {
      width: 38px;
    }
  }
}
