@font-face {
  font-weight: normal;
  font-family: "PT Mono";
  font-style: normal;
  src: url("../fonts/PT_Mono/PTMono-Regular.woff2") format("woff2"), url("../fonts/PT_Mono/PTMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: medium;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "PT Mono", "Courier", monospace;
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
